version: '3'
services:
  csir-edp-ui:
    image: nguni52/csir-edp-ui:1.0.0
    command:  ["nginx", "-g", "daemon off;"]
    ports:
      - "8080:80"
    networks:
      - network-eureka

networks:
  network-eureka:
